*.iml
modules.xml
.idea/misc.xml
*.ipr
.idea/sonarlint
__pycache__/
*.py[cod]
*$py.class
.Python
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.hypothesis/
.pytest_cache/
pytestdebug.log
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
__pypackages__/
.env
.venv
env/
venv/
